<style>
			h1{
				color:red;
			}
			img{
					width: 400px;
				}
			#thirdDiv{ 
				width: 600px;
				height: 500px;
				background-color: blue;
				padding: 50px;
				border: 30px solid white;
				}
			#spanId{
				font-size: 18px;
				margin: 50px;
			}	
			
		</style>